h1, h2, a
{
    font-family: 'Source Sans Pro', sans-serif;
}


.nav
{
    position:fixed;
    height:25px;
    background-color: #FFF;
    width: 100%;
    z-index:99999;
    border-bottom: 1px solid #dbdbdb;
}

    .nav a
    {
        color: #5a5a5a;
        font-size: 11px;
        font-weight: bold;
        padding: 14px 10px;
        text-transform: uppercase;
    }

    .nav li
    {
        display: inline;
    }


.jumbotron
{
    background:url('gnome.png') no-repeat center;
    height: 500px;
}

    .jumbotron .container
    {
        position: relative;
        top:100px;
    }

    .jumbotron h1
    {
        color: #fff;
        font-size: 48px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
    }

    .jumbotron p
    {
        font-size: 20px;
        color: #fff;
    }


#about
{
    text-align: center;
    margin-bottom:36px;
}


.picture-grid
{
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}


    .picture-grid h2
    {
        color: #393c3d;
        font-size: 24px;
    }

    .picture-grid p
    {
        font-size: 15px;
        margin-bottom:13px
    }

.learn-more
{
    background-color: #f7f7f7;
    padding-bottom:16px;
    border-bottom: 1px solid #dbdbdb;
}

    .learn-more h3
    {
        font-family: sans-serif;
        font-size: 18px;
        font-weight: bold;
    }

    .learn-more a
    {
        color: #00b0ff;
    }



.box
{
    background: #fff;
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.15),
                      0px 2px 3px 0px rgba(0,0,0,0.1);
    text-align: center;
    padding: 8px;
}
